@page "/cart"
@inherits CartViewBase


<div class="row">
    <div class="col-12">
        <h5 class="float-start">Cart</h5>
       
    </div>
</div>

<div class="row">

    <div class="col-lg-4">
        @if (Cart == null)
        {
            <div>Loading..</div>
        }
        else
        {
            <table class="table-bordered table-responsive">
                <thead class="bg-success">
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Shipment Fee</th>
                        <th>Tax</th>
                        <th>Quantity</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                @foreach (var c in Cart)
                {
                    <tbody>
                        <tr>
                            <td> @c.Products.Name </td>
                            <td> @c.Price </td>
                            <td> @c.ShipmentFee </td>
                            <td> @c.Tax </td>
                            <td>
                                <input type="number" value="@c.Quantity" min="1" max="100" />
                            </td>
                            <td>

                                <button type="button" class="btn btn-outline-danger btn-sm carts" id="@c.Id" @ref="ReferedCart" @onclick="deleteCart">Delete</button>
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">Update</button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        }

    </div>
    <div class="col-lg-4">
        <form class="form-control bg-light">
            <label class="form-label" for="firstName">First Name: </label>
            <input class="form-control" id="firstName" />
            <label class="form-label" for="mi">Middle Initial: </label>
            <input class="form-control" id="mi" />
            <label class="form-label" for="lastname" >Last Name: </label>
            <input class="form-control" id="lastname" />
            <label class="form-label" for="address">Address</label>
            <input type="text" class="form-control" id="address" /><br />
            <label class="form-label" for="contact">Contact Number:</label>
            <input class="form-control" max="13" min="0" id="contact" /><br />
            <label class="form-label" for="notes">Notes: </label><br />
            <input type="text"  id="notes" />
        </form>
    </div>
    <div class="col-lg-4">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Cash on Delivery
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Paypal
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Bank Transfer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
                Issue Check
            </label>
        </div>

        <button class="btn-danger btn-lg">Checkout</button>

    </div>

</div>



