@page "/product/{id}"
@inherits ProductViewBase

<div class="row">
    @if (product == null)
    {
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        @foreach (var prod in product)
        {
            var image = prod.Image.Where(i => i.ProductId == prod.Id).FirstOrDefault();
            <div class="col-lg-8 col-md-8 col-sm-12">               
                    <img src="ProductImage/@image.ProductImagePath" class="img-fluid" alt="ProductImage" style="height:100%;width:100%;">                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="bg-light btn-group-vertical">
                    <label class="fw-bold" for="productName">Name:</label>
                    <label class="fw-lighter" id="productName">@prod.Name</label>
                    <label class="fw-bold" for="productPrice">Price:</label>
                    <label class="fw-lighter" id="productPrice">@prod.Price</label>
                    <label class="fw-bold" for="produtsaleprice">Sale Price:</label>
                    <label class="fw-lighter" id="produtsaleprice">@prod.SalePrice</label>
                    <label class="fw-bold" for="productStatus">Status:</label>
                    <label class="fw-lighter" id="productStatus">@prod.Status.Status</label>
                    <label class="fw-bold" for="productCategory">Category:</label>
                    <label class="fw-lighter" id="productCategory">@prod.Category.CategoryName</label>
                    <label class="fw-bold" for="productSubCategory">Sub Category:</label>
                    <label class="fw-lighter" id="productSubCategory">@prod.ProductSubCategory.SubCategoryName</label>
                    <label class="fw-bold" for="Description">Description:</label>
                    <p id="Description">@prod.LongDescription</p>
                    <a href="/" class="btn btn-success btn-sm d-inline-block">Back</a><br />
                    <button type="button" class="btn btn-danger btn-sm d-inline-block" @onclick="createCart">Add To Cart</button><br />
                    <button type="button" class="btn btn-success btn-sm" @onmousedown="ViewCart" @bind-style="viewCartStyle" @bind-style:event="onclick">View Cart</button>
                </div>
            </div>
        }
    }



</div>
